img{
    max-width: 100%;
    margin-top: 80px;
}

.navbar-default .navbar-brand {
    color: #3b3939;
    font-size: 3em;
}
.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
}
.footer img{
   margin-left: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer{
    border-top: black solid 1px;
    margin-top: 50px;
    background-color: rgba(255, 255, 248, 0.5);
}