.navbar-default .navbar-brand {
    color: #3b3939;
    font-size: 2.5em;
}
.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
}
.image{
  max-width: 75%;
  max-height: 75%;
  display: block;
}
.footer{
    border-top:  solid 1px #E7E7E7;
    margin-top: 45px;
    background-color: rgba(255, 255, 248, 0.5);
}
.social{
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social>a{
  padding-top: 10px;
  padding-bottom: 10px;
}
.img{
    max-width: 100%;
}
